@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito:wght@300;400;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");

* {
     margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        border: none;
        outline: none;
        font-family: "Poppins", sans-serif;
}

    html{
        font-size: 62.5%;
    }


    body{
        width: 100%;
        height: 100vh;
        overflow-x: hidden;
        background-color: antiquewhite;
        color: black;
    }


    header{
        margin-top: 22px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem 9%;
        background-color: antiquewhite;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1.5rem 9%;
    }

    nav a{
        font-size: 1.6rem;
        color: darkslategrey;
        margin-left: 4rem;
        font-weight: 500;
        transition: 0.3s ease;
        border-bottom: none;
        text-decoration: none !important;
    }

    nav a:hover,
    nav a.active{
        color: rgb(176, 102, 135);
        border-bottom: none;
        text-decoration: none !important;
    }

    @media(max-width:995px){
        nav{
            position: absolute;
            display: none;
            top: 0;
            right: 0;
            width: 40%;
            border-left: none;
            border-bottom: none;
            border-bottom-left-radius: none;
            padding: 1rem solid;
            background-color: darkgray;
            border-top: 0.1rem solid rgba(0,0,0,1);
            text-decoration: none !important;
        }

        nav.active{
            display: block;
        } 

        nav a{
            display: block;
            font-size: 2rem;
            margin: 3rem 0;
            border-bottom: none;
            text-decoration: none !important;
            box-shadow: none;
        }

        nav a:hover,
        nav a.active{
            padding: 1rem;
            border-radius: 0.5rem;
            border-bottom: none;
            text-decoration: none !important;
        }
    }

    .contenido {
        margin-top: 120px; 
        padding: 30px 9%;
    }

    .texto-grande {
        font-size: 2rem;
        margin-bottom: 25px;
        line-height: 1.6;
    }

    .texto-mediano {
        font-size: 1.6rem;
        margin-bottom: 25px;
        line-height: 1.6;
    }

    .texto-pequeno {
        font-size: 1.4rem;
        margin-bottom: 35px;
        line-height: 1.6;
    }

    .video-contenedor {
        width: 60%;
        margin: 0 auto 40px;
    }

    .video-contenedor iframe {
        width: 100%;
        height: 280px; 
        border-radius: 10px;
    }

    .imagen-contenedor {
        width: 50%;
        margin: 0 auto;
    }

    .imagen-contenedor img {
        width: 100%;
        border-radius: 10px;
    }

        
    
    nav a{
    text-decoration: none !important;
    }

    nav a:hover,
    nav a.active {
        text-decoration: none !important;
    }